HotelBookingSystem/TravelAgencyModel/Service References/MulticellBufferService/MultiCellBufferService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="setOneCell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encodedOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOneCellResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOneCell">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOneCellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getOneCellResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>