HotelBookingSystem/TravelAgencyLaunch/Service References/MulticellBufferService/MulticelBufferService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MulticelBufferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4533/MultiCellBufferService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4533/MultiCellBufferService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMultiCellBufferService_setOneCell_InputMessage">
    <wsdl:part name="parameters" element="tns:setOneCell" />
  </wsdl:message>
  <wsdl:message name="IMultiCellBufferService_setOneCell_OutputMessage">
    <wsdl:part name="parameters" element="tns:setOneCellResponse" />
  </wsdl:message>
  <wsdl:message name="IMultiCellBufferService_getOneCell_InputMessage">
    <wsdl:part name="parameters" element="tns:getOneCell" />
  </wsdl:message>
  <wsdl:message name="IMultiCellBufferService_getOneCell_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOneCellResponse" />
  </wsdl:message>
  <wsdl:portType name="IMultiCellBufferService">
    <wsdl:operation name="setOneCell">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiCellBufferService/setOneCell" message="tns:IMultiCellBufferService_setOneCell_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiCellBufferService/setOneCellResponse" message="tns:IMultiCellBufferService_setOneCell_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOneCell">
      <wsdl:input wsaw:Action="http://tempuri.org/IMultiCellBufferService/getOneCell" message="tns:IMultiCellBufferService_getOneCell_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMultiCellBufferService/getOneCellResponse" message="tns:IMultiCellBufferService_getOneCell_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMultiCellBufferService" type="tns:IMultiCellBufferService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setOneCell">
      <soap:operation soapAction="http://tempuri.org/IMultiCellBufferService/setOneCell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOneCell">
      <soap:operation soapAction="http://tempuri.org/IMultiCellBufferService/getOneCell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MulticelBufferService">
    <wsdl:port name="BasicHttpBinding_IMultiCellBufferService" binding="tns:BasicHttpBinding_IMultiCellBufferService">
      <soap:address location="http://localhost:4533/MultiCellBufferService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>